<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated state_machine_code_generator -->
      <package
            uri="http://eseo.fr/stateMachineCodeGenerator"
            class="fr.eseo.idm.state_machine_code_generator.State_machine_code_generatorPackage"
            genModel="model/state_machine_code_generator.genmodel"/>
   </extension>

</plugin>
